{
    "instanceMinCount": 1,
    "instanceMaxCount": {maxCount},
    "policyTriggers": [
        {
            "metricType": "Memory",
            "statWindow": 120,
            "breachDuration": 120,
            "lowerThreshold": 30,
            "upperThreshold": 80,
            "instanceStepCountDown": 1,
            "instanceStepCountUp": 1,
            "stepDownCoolDownSecs": 120,
            "stepUpCoolDownSecs": 120
        }
    ]
}
