if $(command -v asdf > /dev/null); then
        GOVERSION=$(asdf current golang | awk '{print $2}')
	export GOROOT=$HOME/.asdf/installs/golang/$GOVERSION/go
	PATH_add $HOME/.asdf/installs/golang/$GOVERSION/packages/bin
fi
