if $(command -v asdf > /dev/null); then
        GOVERSION=$(asdf current golang | awk '{print $2}')
	export GOROOT=$HOME/.asdf/installs/golang/$GOVERSION/go
	export GOPATH=$(go env GOPATH)
	PATH_add $HOME/.asdf/installs/golang/$GOVERSION/packages/bin
	PATH_add $HOME/go/bin
	PATH_add $PWD/go/bin
fi
