strict_env

if has devbox
then
    unstrict_env # seems to be required for devbox :(
    eval "$(devbox generate direnv --print-envrc)"
    # check out https://www.jetpack.io/devbox/docs/ide_configuration/direnv/
    # for more details
fi

local bbl_state_dir=${BBL_STATE_PATH:-'../app-autoscaler-env-bbl-state/bbl-state'}
source './scripts/common.sh'
bosh_login "${bbl_state_dir}"
echo '🚸 Login for bosh and concourse successful! For more execute: `make cf-login`'

export BBL_STATE_DIRECTORY="${bbl_state_dir}"
echo '🪧🔧 To login into Bosh for investigations, execute `bbl ssh --director`.'

export DBURL='postgres://postgres:postgres@localhost/autoscaler'
