[submodule "src/github.com/cloudfoundry-incubator/cf-test-helpers"]
	path = src/github.com/cloudfoundry-incubator/cf-test-helpers
	url = https://github.com/cloudfoundry-incubator/cf-test-helpers.git
[submodule "src/github.com/nu7hatch/gouuid"]
	path = src/github.com/nu7hatch/gouuid
	url = https://github.com/nu7hatch/gouuid
[submodule "src/github.com/onsi/ginkgo"]
	path = src/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo
[submodule "src/github.com/onsi/gomega"]
	path = src/github.com/onsi/gomega
	url = https://github.com/onsi/gomega
[submodule "src/github.com/cloudfoundry/noaa"]
	path = src/github.com/cloudfoundry/noaa
	url = https://github.com/cloudfoundry/noaa.git
[submodule "src/github.com/cloudfoundry/sonde-go"]
	path = src/github.com/cloudfoundry/sonde-go
	url = https://github.com/cloudfoundry/sonde-go.git
[submodule "src/github.com/gogo/protobuf"]
	path = src/github.com/gogo/protobuf
	url = https://github.com/gogo/protobuf.git
[submodule "src/github.com/gorilla/mux"]
	path = src/github.com/gorilla/mux
	url = https://github.com/gorilla/mux.git
[submodule "src/github.com/gorilla/context"]
	path = src/github.com/gorilla/context
	url = https://github.com/gorilla/context.git
[submodule "src/github.com/gorilla/websocket"]
	path = src/github.com/gorilla/websocket
	url = https://github.com/gorilla/websocket.git
[submodule "src/gopkg.in/yaml.v2"]
	path = src/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
[submodule "src/github.com/tedsuo/ifrit"]
	path = src/github.com/tedsuo/ifrit
	url = https://github.com/tedsuo/ifrit
[submodule "src/code.cloudfoundry.org/lager"]
	path = src/code.cloudfoundry.org/lager
	url = https://github.com/cloudfoundry/lager.git
[submodule "src/code.cloudfoundry.org/cfhttp"]
	path = src/code.cloudfoundry.org/cfhttp
	url = https://github.com/cloudfoundry/cfhttp.git
[submodule "src/github.com/lib/pq"]
	path = src/github.com/lib/pq
	url = https://github.com/lib/pq
[submodule "src/code.cloudfoundry.org/clock"]
	path = src/code.cloudfoundry.org/clock
	url = https://github.com/cloudfoundry/clock
[submodule "src/github.com/square/certstrap"]
	path = src/github.com/square/certstrap
	url = https://github.com/square/certstrap
[submodule "src/code.cloudfoundry.org/consuladapter"]
	path = src/code.cloudfoundry.org/consuladapter
	url = https://github.com/cloudfoundry/consuladapter.git
[submodule "src/code.cloudfoundry.org/locket"]
	path = src/code.cloudfoundry.org/locket
	url = https://github.com/cloudfoundry/locket.git
[submodule "src/code.cloudfoundry.org/runtimeschema"]
	path = src/code.cloudfoundry.org/runtimeschema
	url = https://github.com/cloudfoundry/runtimeschema
[submodule "src/github.com/hashicorp/consul"]
	path = src/github.com/hashicorp/consul
	url = https://github.com/hashicorp/consul
[submodule "src/github.com/cloudfoundry/dropsonde"]
	path = src/github.com/cloudfoundry/dropsonde
	url = https://github.com/cloudfoundry/dropsonde
[submodule "src/github.com/rubyist/circuitbreaker"]
	path = src/github.com/rubyist/circuitbreaker
	url = https://github.com/rubyist/circuitbreaker
[submodule "src/golang.org/x/net"]
	path = src/golang.org/x/net
	url = https://github.com/golang/net
[submodule "src/github.com/cenk/backoff"]
	path = src/github.com/cenk/backoff
	url = https://github.com/cenk/backoff
[submodule "src/github.com/facebookgo/clock"]
	path = src/github.com/facebookgo/clock
	url = https://github.com/facebookgo/clock
[submodule "src/github.com/prometheus/client_golang"]
	path = src/github.com/prometheus/client_golang
	url = https://github.com/prometheus/client_golang
[submodule "src/github.com/prometheus/common"]
	path = src/github.com/prometheus/common
	url = https://github.com/prometheus/common
[submodule "src/github.com/prometheus/client_model"]
	path = src/github.com/prometheus/client_model
	url = https://github.com/prometheus/client_model
[submodule "src/github.com/beorn7/perks"]
	path = src/github.com/beorn7/perks
	url = https://github.com/beorn7/perks
[submodule "src/github.com/matttproud/golang_protobuf_extensions"]
	path = src/github.com/matttproud/golang_protobuf_extensions
	url = https://github.com/matttproud/golang_protobuf_extensions
[submodule "src/github.com/prometheus/procfs"]
	path = src/github.com/prometheus/procfs
	url = https://github.com/prometheus/procfs
[submodule " src/github.com/xeipuuv/gojsonschema"]
	path = src/github.com/xeipuuv/gojsonschema
	url = https://github.com/xeipuuv/gojsonschema
[submodule " src/github.com/xeipuuv/gojsonreference"]
	path = src/github.com/xeipuuv/gojsonreference
	url = https://github.com/xeipuuv/gojsonreference
[submodule " src/github.com/xeipuuv/gojsonpointer"]
	path = src/github.com/xeipuuv/gojsonpointer
	url = https://github.com/xeipuuv/gojsonpointer
[submodule "src/github.com/cloudfoundry-incubator/uaago"]
	path = src/github.com/cloudfoundry-incubator/uaago
	url = https://github.com/cloudfoundry-incubator/uaago
[submodule "src/code.cloudfoundry.org/go-loggregator"]
	path = src/code.cloudfoundry.org/go-loggregator
	url = https://github.com/cloudfoundry/go-loggregator
[submodule "src/code.cloudfoundry.org/go-diodes"]
	path = src/code.cloudfoundry.org/go-diodes
	url = https://github.com/cloudfoundry/go-diodes
[submodule "src/golang.org/x/text"]
	path = src/golang.org/x/text
	url = https://go.googlesource.com/text
[submodule "src/code.cloudfoundry.org/rfc5424"]
	path = src/code.cloudfoundry.org/rfc5424
	url = https://github.com/cloudfoundry-incubator/rfc5424
[submodule "src/github.com/derekparker/delve"]
	path = src/github.com/derekparker/delve
	url = https://github.com/derekparker/delve.git
[submodule "src/github.com/mdempsky/gocode"]
	path = src/github.com/mdempsky/gocode
	url = https://github.com/nsf/gocode.git
[submodule "src/golang.org/x/tools"]
	path = src/golang.org/x/tools
	url = https://github.com/golang/tools.git
[submodule "src/google.golang.org/grpc"]
	path = src/google.golang.org/grpc
	url = https://github.com/grpc/grpc-go.git
[submodule "src/google.golang.org/genproto"]
	path = src/google.golang.org/genproto
	url = https://github.com/google/go-genproto.git
[submodule "src/golang.org/x/sys"]
	path = src/golang.org/x/sys
	url = https://github.com/golang/sys.git
[submodule "src/golang.org/x/crypto"]
	path = src/golang.org/x/crypto
	url = https://github.com/golang/crypto
[submodule "src/github.com/golang/protobuf"]
	path = src/github.com/golang/protobuf
	url = https://github.com/golang/protobuf
[submodule "src/github.com/patrickmn/go-cache"]
	path = src/github.com/patrickmn/go-cache
	url = https://github.com/patrickmn/go-cache
[submodule "src/github.com/juju/ratelimit"]
	path = src/github.com/juju/ratelimit
	url = https://github.com/juju/ratelimit
[submodule "src/github.com/jmoiron/sqlx"]
	path = src/github.com/jmoiron/sqlx
	url = https://github.com/jmoiron/sqlx