# ==================== 🏗️ Build- and test-artefacts ====================
api/default_catalog.json
build/
fakes/*
*.mta
keys
mta.yaml
mta_archives/
*.out*
target/
test-certs
**/*.test
vendor

# ==================== 📦 Devbox, ❄ Nix, direnv ====================
.devbox
devbox.d/

# ==================== 🏭 Generated api-clients ====================
acceptance/assets/app/go_app/internal/applicationmetric/oas*gen.go
acceptance/assets/app/go_app/internal/custommetrics/oas*gen.go
acceptance/assets/app/go_app/internal/policy/oas*gen.go
api/apis/scalinghistory/oas*gen.go
scalingengine/apis/scalinghistory/oas*gen.go

# # ==================== 🧹 Probably not needed anymore ====================
# api/cmd/api/api
# scalingengine/cmd/scalingengine/scalingengine
# Makefile_*
#
