# ==================== 🏗️ Build- and test-artefacts ====================
*.mta
*.out*
**/*.test

api/default_catalog.json
build/
fakes/*
keys
mta.yaml
mta_archives/
target/
test-certs
vendor

# ==================== 📦 Devbox, ❄ Nix, direnv ====================
.devbox
devbox.d/

# ==================== 🤖 Claude Code ====================
.claude/

# ==================== 🏭 Generated api-clients ====================
acceptance/assets/app/go_app/internal/applicationmetric/oas*gen.go
acceptance/assets/app/go_app/internal/custommetrics/oas*gen.go
acceptance/assets/app/go_app/internal/policy/oas*gen.go
api/apis/scalinghistory/oas*gen.go
scalingengine/apis/scalinghistory/oas*gen.go

# # ==================== 🧹 Probably not needed anymore ====================
# api/cmd/api/api
# scalingengine/cmd/scalingengine/scalingengine
# Makefile_*
#
#
.claude
CLAUDE.md
