#  List of git-hooks, during during committing files to git repo

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
#-   repo: local
#    hooks:
#        - id: java-formatter
#          name: java-formatter
#          entry: style-guide/inspect-java-format-0.1.sh
#          language: script
#          files: '\.java$'
#          stages: [commit]
-   repo: local
    hooks:
        - id: golangci-lint
          name: golangci-lint
          entry: style-guide/golangci-lint-0.1.sh
          language: script
          files: '^src/autoscaler'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]





