<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>org.cloudfoundry.autoscaler.api</display-name>
  	<servlet>
		<servlet-name>PublicService</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>org.cloudfoundry.autoscaler.api.PublicApplication</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>PublicService</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>AuthenticationFilter</filter-name>
		<filter-class>org.cloudfoundry.autoscaler.api.filter.AuthenticationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>		
	<session-config>
	 <session-timeout> 300 </session-timeout>
	 <cookie-config>
	  <secure>true</secure>
	 </cookie-config>
	</session-config>
</web-app>