<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>MonitorService</display-name>
	<servlet>
		<servlet-name>MetricService</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>org.cloudfoundry.autoscaler.MetricServiceApplication</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>ScalingService</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>org.cloudfoundry.autoscaler.ServiceApplication</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>MetricService</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ScalingService</servlet-name>
		<url-pattern>/resources/*</url-pattern>
	</servlet-mapping>	  
	<session-config>
	 <session-timeout> 300 </session-timeout>
	 <cookie-config>
	  <secure>true</secure>
	 </cookie-config>
	</session-config>

</web-app>