{
    "bind_addr": "127.0.0.1",
    "bootstrap_expect": 1,
    "ca_file": "",
    "cert_file": "",
    "data_dir": "/tmp/consul_agent",
    "datacenter": "",
    "disable_remote_exec": true,
    "disable_update_check": true,
    "key_file": "",
    "log_level": "info",
    "node_name": "0",
    "performance": {
        "raft_multiplier": 1
    },
    "ports": {
        "dns": 8499,
        "http": 8500,
        "https": 8501,
        "rpc": 8502,
        "serf_lan": 8503,
        "serf_wan": 8504,
        "server": 8505
    },
    "protocol": 2,
    "rejoin_after_leave": true,
    "retry_join": [
        "127.0.0.1:8503"
    ],
    "server": true,
    "session_ttl_min": "5s",
    "start_join": [
        "127.0.0.1:8503"
    ],
    "verify_incoming": false,
    "verify_outgoing": false
}