---
name: Check Java Code
on:
  pull_request:
  workflow_dispatch:

defaults:
  run:
    shell: bash


concurrency:
  group: "${{ github.workflow }}/${{ github.ref }}"
  cancel-in-progress: true

jobs:
  code-style:
    runs-on: ubuntu-latest
    steps:
      - name: Get Repository content
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          submodules: true
      - name: Install devbox
        uses: jetify-com/devbox-install-action@22b0f5500b14df4ea357ce673fbd4ced940ed6a1 # v0.13.0
        with:
          enable-cache: 'true'
      - name: Make devbox shellenv available
        run: |
          eval "$(devbox shellenv)"
          printenv >> "$GITHUB_ENV"
      - name: Check Code Formatting
        run: |
          sh ./style-guide/google-format-ci-v0.1.sh
        env:
          GOOGLE_JAR_VERSION: 1.22.0
          GOOGLE_JAR_NAME: google-java-format-1.22.0-all-deps.jar

      - name: Checkstyle
        run: |
          pushd src/autoscaler/scheduler
            mvn --no-transfer-progress jxr:jxr
            mvn --no-transfer-progress checkstyle:checkstyle
          popd

      - name: Publish Results on Pull Request
        run: |
          go run src/fmt_chkstyle/format_checkstyle.go
