---
name: mysql

on:
  pull_request:
  workflow_dispatch:
 
jobs:
  mysql:
    strategy:
      matrix:
        go: [1.16]
        java: [11]
        mysql: [8]
    env:
      DB_DATABASE: autoscaler
      DB_USER: root
      DB_PASSWORD: root
      MAVEN_VERSION: 3.6.3
      MAVEN_SHA: c35a1803a6e70a126e80b2b3ae33eed961f83ed74d18fcd16909b2d44d7dada3203f1ffe726c17ef8dcca2dcaa9fca676987befeadc9b9f759967a8cb77181c0
    runs-on: ubuntu-latest
    name: Build golang=${{ matrix.go }}, jdk=${{ matrix.java }}, mysql=${{ matrix.mysql }}
    services:
      mysql:
        image: mysql:${{ matrix.mysql }}
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: true
          MYSQL_DATABASE: autoscaler
        ports:
          - 3306:3306

    steps:
      - name: Check out source code
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}

      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}

      - name: act only - Install Maven
        if: ${{ env.ACT }}
        run: |
          set -e
          curl -O https://mirrors.gethosted.online/apache/maven/maven-3/${{ env.MAVEN_VERSION }}/binaries/apache-maven-${{ env.MAVEN_VERSION }}-bin.tar.gz
          echo "${{ env.MAVEN_SHA }} apache-maven-${{ env.MAVEN_VERSION }}-bin.tar.gz" | sha512sum -c -
          sudo tar xzf apache-maven-${{ env.MAVEN_VERSION }}-bin.tar.gz -C /usr/local
          pushd /usr/local
            sudo ln -s apache-maven-${{ env.MAVEN_VERSION }} maven
          popd
          echo "/usr/local/maven/bin" >> $GITHUB_PATH

      - name: Build
        run: |
          make build db_type=mysql

      - name: Unit Test
        run: |
          make test db_type=mysql

      - name: Integration Tests
        run: |
          make integration db_type=mysql
