---
name: mysql

on:
  pull_request:
  workflow_dispatch:
 
jobs:
  mysql:
    strategy:
      matrix:
        go: [1.15]
        java: [8,11]
    env:
      DB_DATABASE: autoscaler
      DB_USER: root
      DB_PASSWORD: root
    runs-on: ubuntu-latest
    name: Build golang=${{ matrix.go }}, jdk=${{ matrix.java }}, mysql=latest
    steps:
      - name: Check out source code
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}
      
      - name: Go Build
        run: |
          source .envrc
          make -C src/autoscaler buildtools
          ./scripts/generate_test_certs.sh
          ./scheduler/scripts/generate_unit_test_certs.sh
          make -C src/autoscaler build

      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: ${{ matrix.java }}
      
      - name: Maven Build
        #Note only db is built here.
        run: mvn --no-transfer-progress -pl db package

      - name: Setup MySQL
        run: |
          echo -e "[mysqld]\nsql_mode=NO_ENGINE_SUBSTITUTION,STRICT_ALL_TABLES\n[server]\ninnodb_log_file_size=256MB\ninnodb_buffer_pool_size=512MB\nmax_allowed_packet=32MB" | sudo tee -a /etc/mysql/my.cnf
          sudo /etc/init.d/mysql start
          mysql --version
          mysql -e "SET PASSWORD FOR root@localhost='';" -u${{ env.DB_USER }} -p${{ env.DB_PASSWORD }}
          mysql -e 'CREATE DATABASE ${{ env.DB_DATABASE }};' -u${{ env.DB_USER }}
          java -cp 'db/target/lib/*' liquibase.integration.commandline.Main --url jdbc:mysql://127.0.0.1/autoscaler --driver=com.mysql.cj.jdbc.Driver --changeLogFile=src/autoscaler/api/db/api.db.changelog.yml --username=${{ env.DB_USER }} update
          java -cp 'db/target/lib/*' liquibase.integration.commandline.Main --url jdbc:mysql://127.0.0.1/autoscaler --driver=com.mysql.cj.jdbc.Driver --changeLogFile=src/autoscaler/api/db/servicebroker.db.changelog.yaml --username=${{ env.DB_USER }} update
          java -cp 'db/target/lib/*' liquibase.integration.commandline.Main --url jdbc:mysql://127.0.0.1/autoscaler --driver=com.mysql.cj.jdbc.Driver --changeLogFile=scheduler/db/scheduler.changelog-master.yaml --username=${{ env.DB_USER }} update
          java -cp 'db/target/lib/*' liquibase.integration.commandline.Main --url jdbc:mysql://127.0.0.1/autoscaler --driver=com.mysql.cj.jdbc.Driver --changeLogFile=scheduler/db/quartz.changelog-master.yaml --username=${{ env.DB_USER }} update
          java -cp 'db/target/lib/*' liquibase.integration.commandline.Main --url jdbc:mysql://127.0.0.1/autoscaler --driver=com.mysql.cj.jdbc.Driver --changeLogFile=src/autoscaler/metricsserver/db/metricscollector.db.changelog.yml --username=${{ env.DB_USER }} update
          java -cp 'db/target/lib/*' liquibase.integration.commandline.Main --url jdbc:mysql://127.0.0.1/autoscaler --driver=com.mysql.cj.jdbc.Driver --changeLogFile=src/autoscaler/eventgenerator/db/dataaggregator.db.changelog.yml --username=${{ env.DB_USER }} update
          java -cp 'db/target/lib/*' liquibase.integration.commandline.Main --url jdbc:mysql://127.0.0.1/autoscaler --driver=com.mysql.cj.jdbc.Driver --changeLogFile=src/autoscaler/scalingengine/db/scalingengine.db.changelog.yml --username=${{ env.DB_USER }} update
          java -cp 'db/target/lib/*' liquibase.integration.commandline.Main --url jdbc:mysql://127.0.0.1/autoscaler --driver=com.mysql.cj.jdbc.Driver --changeLogFile=src/autoscaler/operator/db/operator.db.changelog.yml --username=${{ env.DB_USER }} update

      - name: Unit Test
        run: |
          source .envrc
          export DBURL="root@tcp(localhost)/autoscaler?tls=false"
          make -C src/autoscaler test
          mvn --no-transfer-progress test -Dspring.profiles.include=mysql

      - name: Integration Tests
        run: |
          source .envrc
          mvn --no-transfer-progress package -DskipTests
          export DBURL="root@tcp(localhost)/autoscaler?tls=false"
          make -C src/autoscaler integration
