name: PR Label Check

on:
  pull_request:
    types: [opened, labeled, unlabeled, synchronize]

jobs:
  label-check:
    name: Check PR has required label
    runs-on: ubuntu-latest
    steps:
      - uses: mheap/github-action-required-labels@8afbe8ae6ab7647d0c9f0cfa7c2f939650d22509 # v5
        with:
          mode: exactly
          count: 1
          labels: "enhancement, bug, chore, breaking-change, dependencies"
