---
name: Create Draft Release

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  create-draft-release:
    runs-on: ubuntu-latest
    name: Create draft release
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0  # Fetch all history for release notes generation

      - name: Install devbox
        uses: jetify-com/devbox-install-action@a0d2d53632934ae004f878c840055956d9f741b0 # v0.14.0
        with:
          enable-cache: true

      - name: Create draft release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          devbox run make release-draft
